// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['alamya-clientportal.PortalView']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/PortalView.jsx' }
['alamya-clientportal.PortalWidget']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/PortalWidget.jsx' }
['alamya-clientportal.portalIcon']: '@mui/icons-material/Handshake'
